In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movie = pd.read_csv('data/movie.csv')

In [3]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
director = movie['director_name']
critics = movie['num_critic_for_reviews']

In [5]:
director.value_counts().head()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
Name: director_name, dtype: int64

In [6]:
# To count number of null in columns

In [7]:
director.isnull().sum()

102

In [8]:
critics.isnull()\
.sum()

49

In [9]:
critics.isnull().sum()

49

In [11]:
movie = pd.read_csv('data/movie.csv')

In [15]:
movie.isnull().head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

In [18]:
movie.isnull().sum().sum()

2654

In [19]:
movie.any()

color                        True
director_name                True
num_critic_for_reviews       True
duration                     True
director_facebook_likes      True
actor_3_facebook_likes       True
actor_2_name                 True
actor_1_facebook_likes       True
gross                        True
genres                       True
actor_1_name                 True
movie_title                  True
num_voted_users              True
cast_total_facebook_likes    True
actor_3_name                 True
facenumber_in_poster         True
plot_keywords                True
movie_imdb_link              True
num_user_for_reviews         True
language                     True
country                      True
content_rating               True
budget                       True
title_year                   True
actor_2_facebook_likes       True
imdb_score                   True
aspect_ratio                 True
movie_facebook_likes         True
dtype: bool

In [3]:
import pandas as pd

In [4]:
movie = pd.read_csv('data/movie.csv')

In [5]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [8]:
movie.select_dtypes(['object']).head()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
4,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN

In [14]:
movie.select_dtypes(['object']).fillna('').min()

color
director_name
actor_2_name
genres                                                        Action
actor_1_name
movie_title                                                  #Horror
actor_3_name
plot_keywords
movie_imdb_link    http://www.imdb.com/title/tt0006864/?ref_=fn_t...
language
country
content_rating
dtype: object

In [16]:
college = pd.read_csv('data/college.csv',index_col='INSTNM')

In [17]:
college.head(2)

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5

In [18]:
college_ugds = college.filter(like='UGDS_')

In [19]:
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [20]:
college_ugds + 1

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,1.0333,1.9353,1.0055,1.0019,1.0024,1.0019,1.0000,1.0059,1.0138
University of Alabama at Birmingham,1.5922,1.2600,1.0283,1.0518,1.0022,1.0007,1.0368,1.0179,1.0100
Amridge University,1.2990,1.4192,1.0069,1.0034,1.0000,1.0000,1.0000,1.0000,1.2715
University of Alabama in Huntsville,1.6988,1.1255,1.0382,1.0376,1.0143,1.0002,1.0172,1.0332,1.0350
Alabama State University,1.0158,1.9208,1.0121,1.0019,1.0010,1.0006,1.0098,1.0243,1.0137
The University of Alabama,1.7825,1.1119,1.0348,1.0106,1.0038,1.0009,1.0261,1.0268,1.0026
Central Alabama Community College,1.7255,1.2613,1.0044,1.0025,1.0044,1.0000,1.0000,1.0000,1.0019
Athens State University,1.7823,1.1200,1.0191,1.0053,1.0157,1.0010,1.0174,1.0057,1.0334
Auburn University at Montgomery,1.5328,1.3376,1.0074,1.0221,1.0044,1.0016,1.0297,1.0397,1.0246
Auburn University,1.8507,1.0704,1.0248,1.0227,1.0074,1.0000,1.0000,1.0100,1.0140
Birmingham Southern College,1.7983,1.1102,1.0195,1.0517,1.0102,1.0000,1.0051,1.0000,1.0051
Chattahoochee Valley Community College,1.4661,1.4372,1.0492,1.0127,1.0023,1.0035,1.0151,1.0000,1.0139
Concordia College Alabama,1.0280,1.8758,1.0373,1.0093,1.0000,1.0000,1.0031,1.0466,1.0000
South University-Montgomery,1.3046,1.6054,1.0153,1.0153,1.0153,1.0096,1.0000,1.0019,1.0326
Enterprise State Community College,1.6408,1.2435,1.0509,1.0202,1.0081,1.0029,1.0254,1.0012,1.0069
James H Faulkner State Community College,1.6979,1.2259,1.0320,1.0084,1.0177,1.0014,1.0152,1.0007,1.0009
Faulkner University,1.3874,1.5137,1.0258,1.0042,1.0063,1.0013,1.0173,1.0182,1.0258
Gadsden State Community College,1.6921,1.2076,1.0305,1.0047,1.0128,1.0018,1.0185,1.0150,1.0169
New Beginning College of Cosmetology,1.8957,1.0348,1.0696,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000
George C Wallace State Community College-Dothan,1.6273,1.3240,1.0221,1.0072,1.0049,1.0009,1.0126,1.0000,1.0009
George C Wallace State Community College-Hanceville,1.8630,1.0612,1.0362,1.0065,1.0089,1.0000,1.0000,1.0059,1.0183
George C Wallace State Community College-Selma,1.1956,1.7449,1.0026,1.0040,1.0013,1.0000,1.0033,1.0040,1.0443
Herzing University-Birmingham,1.3543,1.5265,1.0166,1.0066,1.0000,1.0000,1.0563,1.0000,1.0397
Huntingdon College,1.6388,1.1993,1.0252,1.0078,1.0122,1.0017,1.0261,1.0061,1.0827
Heritage Christian University,1.7419,1.1129,1.0484,1.0000,1.0323,1.0161,1.0000,1.0161,1.0323
J F Drake State Community and Technical College,1.3337,1.5965,1.0246,1.0082,1.0113,1.0010,1.0185,1.0000,1.0062
Jacksonville State University,1.6834,1.2382,1.0132,1.0055,1.0072,1.0010,1.0000,1.0234,1.0280
Jefferson Davis Community College,1.5857,1.2982,1.0077,1.0252,1.0252,1.0000,1.0184,1.0000,1.0397
Jefferson State Community College,1.6696,1.2246,1.0486,1.0183,1.0024,1.0008,1.0301,1.0054,1.0001
John C Calhoun State Community College,1.6528,1.1940,1.0435,1.0257,1.0182,1.0006,1.0428,1.0062,1.0162
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Piscataway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah County Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L'esprit Academy - Royal Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Career Institute - Jersey City Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cobb Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Morrow Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Roswell Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Douglasville Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Lithonia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Savannah Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Augusta Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Charleston Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Katy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Northwest Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cedar Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-North Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Stafford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WestMed College - Merced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vantage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
college_ugds.count(axis='index')

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [24]:
import pandas as pd

In [27]:
college = pd.read_csv('data/college.csv',index_col="INSTNM")

In [28]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [29]:
college_ugds = college.filter(like="UGDS_")

In [30]:
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [33]:
college_ugds.isnull() \
.sum(axis=1) \
.sort_values(ascending=False) \
.head()

INSTNM
Excel Learning Center-San Antonio South         9
Philadelphia College of Osteopathic Medicine    9
Assemblies of God Theological Seminary          9
Episcopal Divinity School                       9
Phillips Graduate Institute                     9
dtype: int64

In [34]:
college_ugds = college_ugds.dropna(how="all")

In [36]:
college_ugds.isnull().sum().sum()

0

In [40]:
diversity_metric =college_ugds.ge(.15).sum(axis="columns")

In [45]:
diversity_metric.sort_values(ascending=False)

INSTNM
Regency Beauty Institute-Austin                                           5
Central Texas Beauty College-Temple                                       5
Sullivan and Cogliano Training Center                                     4
Ambria College of Nursing                                                 4
Berkeley College-New York                                                 4
Charles A Jones Career and Education Center                               4
J Renee College                                                           4
Bramson ORT College                                                       4
Pacific Rim Christian University                                          4
Bristol University                                                        4
Los Angeles Film School                                                   4
Merritt College                                                           4
Christine Valmy International School for Esthetics  Skin Care & Makeup    4
Berkeley College-Woodland Park                                            4
La Baron Hairdressing Academy-Overland Park                               4
InterCoast Colleges-Fairfield                                             4
CUNY Brooklyn College                                                     4
CUNY City College                                                         4
University of Phoenix-Florida                                             4
P C Age-Jersey City                                                       4
South University-The Art Institute of Dallas                              4
New York Career Institute                                                 4
Regency Beauty Institute-Lakewood                                         4
Rutgers University-Newark                                                 4
The Illinois Institute of Art-Chicago                                     4
Schiller International University                                         4
Regency Beauty Institute-Manassas                                         4
Berkeley City College                                                     4
Ohlone College                                                            4
Le Cordon Bleu College of Culinary Arts-Austin                            4
                                                                         ..
ITT Technical Institute-Green Bay                                         1
Bradford School                                                           1
Pacific Islands University                                                1
The University of Findlay                                                 1
Bryant & Stratton College-Cleveland                                       1
EHOVE Career Center                                                       1
Edison State Community College                                            1
Eastern Hills Academy of Hair Design                                      1
Denison University                                                        1
Defiance College                                                          1
University of Dayton                                                      1
Rosedale Bible College                                                    1
Columbus College of Art and Design                                        1
Cleveland Institute of Art                                                1
University of Cincinnati-Clermont College                                 1
Southeastern School of Cosmetology                                        1
Cincinnati College of Mortuary Science                                    1
University of Cincinnati-Main Campus                                      1
Cleveland Institute of Dental-Medical Assistants-Cleveland                1
Westwood College-River Oaks                                               1
Columbiana County Career and Technical Center                             1
Scott College of Cosmetology                                              1
Empire Beauty School-Kennesaw                                             1
Education and Technology Institute                                        0
Lyme Academy College of Fine Arts                                         0
Professional Business College                                             0
Spanish-American Institute                                                0
Prince Institute-Rocky Mountains                                          0
American Conservatory Theater                                             0
Taft University System                                                    0
Length: 6874, dtype: int64

In [47]:
top=college_ugds.loc[['Regency Beauty Institute-Austin','Westwood College-River Oaks']]

In [1]:
diversity_metric.loc[]

SyntaxError: invalid syntax (<ipython-input-1-c7fdf80e66cd>, line 1)

In [2]:
import pandas as pd

In [5]:
college = pd.read_csv('data/college.csv',index_col="INSTNM")

In [6]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [15]:
city=college.iloc[3]

In [17]:
city

CITY                  Huntsville
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     595
SATMTMID                     590
DISTANCEONLY                   0
UGDS                        5451
UGDS_WHITE                0.6988
UGDS_BLACK                0.1255
UGDS_HISP                 0.0382
UGDS_ASIAN                0.0376
UGDS_AIAN                 0.0143
UGDS_NHPI                 0.0002
UGDS_2MOR                 0.0172
UGDS_NRA                  0.0332
UGDS_UNKN                  0.035
PPTUG_EF                  0.2146
CURROPER                       1
PCTPELL                   0.3072
PCTFLOAN                  0.4596
UG25ABV                    0.264
MD_EARN_WNE_P10            45500
GRAD_DEBT_MDN_SUPP         24097
Name: University of Alabama in Huntsville, dtype: object

In [18]:
import pandas as pd

In [36]:
college = pd.read_csv("data/college.csv",index_col="INSTNM")

In [37]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [45]:
college.loc[['University of Alaska Anchorage']]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.098,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5

In [46]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [47]:
college.iloc[:3,:2]

                                           CITY STABBR
INSTNM
Alabama A & M University                 Normal     AL
University of Alabama at Birmingham  Birmingham     AL
Amridge University                   Montgomery     AL

In [48]:
college.iloc[:,[4,6]].head()

                                     WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [49]:
college.iloc[[1,2],[1,2]]

                                    STABBR  HBCU
INSTNM
University of Alabama at Birmingham     AL   0.0
Amridge University                      AL   0.0

In [51]:
college.iloc[1,-1]

'21941.5'

In [53]:
college.loc["University of Alabama at Birmingham":"Amridge University","CITY"]

INSTNM
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
Name: CITY, dtype: object

In [54]:
college = pd.read_csv("data/college.csv",index_col="INSTNM")

In [55]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [56]:
col_start = college.columns.get_loc("UGDS_WHITE")

In [57]:
col_start

10